.alice-carousel__next-btn svg, .alice-carousel__prev-btn svg  {
    display: inline !important;
    margin: auto !important;
    width: 100% !important;
}

.alice-carousel__prev-btn svg {
    text-align: left !important;
}

.alice-carousel__next-btn svg {
    text-align: right !important;
}



